---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic&subset=latin,latin-ext,greek);

$accent-color: #820;

$break-small: 600px;
$break-large: 800px;
$line-height: 1.5em;
$base-font-family: Ubuntu, sans;
$code-font-family: 'Ubuntu Mono', monospace;

@import "wafy-resume-styles";

// Our variables
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.58;

$spacing-unit:     30px;

$text-color:       rgb(0, 0, 0);
$background-color: rgb(251, 237, 218);
$brand-color:      #2a7ae2;

$grey-color:       black;
$grey-color-light: lighten($grey-color, 50%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

header, main {
    box-sizing: border-box;

    @media screen and (min-width: $break-large) {
        border: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -1px;
    }
}

header.site-header {
    z-index: 1;
}

header {
    @media screen and (min-width: $break-large) {
        border-top: 5px solid black;
    }

    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

main {
    padding-top: 1em;
    border-bottom-left-radius: $spacing-unit/2;
    border-bottom-right-radius: $spacing-unit/2;
}

article header {
    border-style: none;
    min-height: none;
    padding: 0;
}

ul.post-list {
    margin-top: $spacing-unit;
}

footer {
    border: none;
}

h1.page-heading {
    display: none;
}

img.profile {
    margin: 0 0 1em 0;

    @media screen and (min-width: $break-small) {
        float: right;
        max-width: 15em;
        margin: 0 0 1em 1em;
    }
}
