---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "font-awesome";
@import "defs";
@import "wafy-resume-styles";
@import "media-query";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

header, main {
    box-sizing: border-box;

    @media screen and (min-width: $break-large) {
        border: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -1px;
    }
}

header.site-header {
    z-index: 1;
}

header {
    @media screen and (min-width: $break-large) {
        border-top: 5px solid black;
    }

    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

article header {
    border-style: none;
    min-height: none;
    padding: 0;
}

ul.post-list {
    margin-top: $spacing-unit;
}

footer {
    border: none;
}

h1.page-heading {
    display: none;
}

img.profile {
    margin: 0 0 1em 0;

    @media screen and (min-width: $break-small) {
        float: right;
        max-width: 15em;
        margin: 0 0 1em 1em;
    }
}
