a.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    color: $text-color;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        background-color: $background-color;
        text-align: right;

        .menu-icon {
            display: inline-block;
            float: right;
            width: 36px;
            text-align: center;

            > svg {
                width: 25px;
                height: 20px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            border: 1px solid black;
            padding-top: 0.25em;
        }

        &:hover .trigger li {
            display: block;
            padding: 0;
            margin-top: -0.25em;
        }

        &:hover .trigger li a {
            padding: 0.25em 1em;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 40px;
    margin: 0;
    text-shadow: none;

    @include media-query($on-laptop) {
        font-size: 35px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: $base-font-size;
        }
    }
}

.trigger {
    margin: 0;
}

.trigger li {
    display: inline-block;
    padding: 0;
}

.trigger li a {
    display: inline-block;
    padding: 0.5em 0.7em;
}

code {
    font-family: $code-font-family;
}

pre {
    font-family: $code-font-family;
}

// Core Layout
header, main {
    box-sizing: border-box;

    @media screen and (min-width: $content-width) {
        border: 1px solid black;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -1px;
    }
}

header {
    z-index: 1;

    @media screen and (min-width: $content-width) {
        border-top: 5px solid black;
    }

    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

article header {
    border-style: none;
    min-height: none;
    padding: 0;
}

ul.post-list {
    margin-top: $spacing-unit;
}

footer {
    border: none;
}

h1.page-heading {
    display: none;
}

img.profile {
    margin: 0 0 1em 0;

    @media screen and (min-width: $break-small) {
        float: right;
        max-width: 15em;
        margin: 0 0 1em 1em;
    }
}

main {
    padding-top: 1em;
    border-bottom-left-radius: $spacing-unit/2;
    border-bottom-right-radius: $spacing-unit/2;

    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $base-line-height;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-laptop) {
        max-width: $content-width;
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    > section {
        > h1 {
            font-size: 1.9em;
            line-height: 1.9em;
            margin-top: 0.5em;
            margin-bottom: 0;
        }
    }
}
