$outer-bg: #FAEBD7;
$background: $outer-bg;
$highlight-bg: #DCB;
$shadow-bg: #CBA;
$accent-color: #820;

$break-small: 600px;
$break-large: 700px;
$line-height: 1.5em;

$base-font-family: Lora, serif
